@model BlogVM
@{
    ViewData["Title"] = "Index";
    ViewBag.Count = 0;
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Blog</li>
            </ol>
            <h2>Blog</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                  
                        
                            @foreach (Blog blog in Model.Blogs)
                            {

                                <article class="entry">

                                    <div class="entry-img">
                                        <img src="~/assets/img/blog/@blog.Image" alt="" class="img-fluid">
                                    </div>

                                    <h2 class="entry-title">
                                        <a asp-controller="Blog" asp-action="BlogSingle" asp-route-id="@blog.Id">@blog.Title</a>
                                    </h2>

                                    <div class="entry-meta">
                                        <ul>

                                            <li class="d-flex align-items-center">
                                                <i class="bi bi-person"></i>
                                                @foreach (Publisher publisher in Model.Publishers)
                                                {
                                                    <a asp-controller="Blog" asp-action="BlogSingle">@(blog.PublisherId == publisher.Id ? $"{publisher.Name} {publisher.Surname}" : "")</a>

                                                }
                                            </li>
                                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a asp-controller="Blog" asp-action="BlogSingle"><time datetime="2020-01-01">@blog.Date</time></a></li>
                                            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a asp-controller="Blog" asp-action="BlogSingle">12 Comments</a></li>
                                        </ul>
                                    </div>

                                    <div class="entry-content">
                                        <p>
                                            @blog.Article
                                        </p>
                                        <div class="read-more">
                                            <a asp-controller="Blog" asp-action="BlogSingle">Read More</a>
                                        </div>
                                    </div>

                                </article><!-- End blog entry -->

                            }
                   




                    <div class="blog-pagination">
                        <ul class="justify-content-center">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>

                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div><!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                @foreach (Category category in Model.Categories)
                                {
                                <li><a asp-controller="Blog" asp-action="Index">@category.Name <span>(
                                    @foreach (Blog blog in Model.Blogs)
                                {
                                    if (blog.BlogCategories.Exists(bc => bc.CategoryId==category.Id))
                                    {
                                        ViewBag.Count += 1;

                                    }


                                } @ViewBag.Count)</span></a></li>
                                    ViewBag.Count = 0;
                                }
                                
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="sidebar-item recent-posts">
                            @foreach (Post post in Model.Posts)
	{
                            <div class="post-item clearfix">
                                <img src="~/assets/img/blog/@post.Image" alt="">
                                <h4><a asp-controller="Blog" asp-action="BlogSingle">@post.Title</a></h4>
                                <time datetime="2020-01-01">@post.Date</time>
                            </div>
		 
	}


                        </div><!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                @foreach (Tag item in Model.Tags)
                                {
                                <li><a href="#">@item.Name</a></li>

                                }
                             
                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
