@model TeamVM
@{
    ViewData["Title"] = "Index";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a asp-controller="Home">Home</a></li>
                <li>Team</li>
            </ol>
            <h2>Team</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="row">
               @foreach (Employee employee in Model.Employees)
               {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="~/assets/img/team/@employee.Image" alt="">
                        <h4>@employee.Name @employee.Surname</h4>
                        <span>@employee.Position</span>
                        <p>
                            @employee.Description
                        </p>
                        <div class="social">
                            @foreach (SocialMediaAccount socialMedia in Model.SocialMediaAccounts)
                            {
                            <a href=""><i class="@(employee.EmployeeSocialMediaAccounts.Exists(esm=>esm.SocialMediaAccountId==socialMedia.Id)? socialMedia.Icon : "")"></i></a>

                            }
                         
                        </div>
                    </div>
                </div>


               }

               

            </div>

        </div>
    </section><!-- End Team Section -->

</main><!-- End #main -->
