@model PortfolioDetailsVM
@{
    ViewData["Title"] = "PortfolioDetails";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a asp-controller="home">Home</a></li>
                <li>Portfolio Details</li>
            </ol>
            <h2>Portfolio Details</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            @foreach (PortfolioImage item in Model.Portfolio.PortfolioImages)
                            {
                                <div class="swiper-slide">
                                    <img src="~/assets/img/portfolio/@item.Image" alt="">
                                </div>
                            }

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>

                            <li>
                                <strong>Category</strong>: @foreach (OurService item in Model.Portfolio.OurServices)
                                {
                                    @($"{@item.Name};")
                                }


                            </li>

                            <li><strong>Client</strong>: @Model.Portfolio.Client.Name</li>


                            <li><strong>Project date</strong>: @Model.Portfolio.Date</li>
                            <li><strong>Project URL</strong>: <a href="#">@Model.Portfolio.ProjectUrl</a></li>

                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>@Model.Portfolio.Title</h2>
                        <p>
                            @Model.Portfolio.Description
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

