@model PricingVM
@{
    ViewData["Title"] = "Index";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a asp-controller="home" asp-action="index">Home</a></li>
                <li>Pricing</li>
            </ol>
            <h2>Pricing</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">

            <div class="row no-gutters">
                @foreach (Pricing item in Model.Pricings)
                {
                    <div class="col-lg-4 box @(item.IsFeatured ? "featured" : "")">
                        <h3>@item.Name</h3>
                        <h4>$@item.Price<span>per @item.Duration</span></h4>
                        <ul>
                            @foreach (Product product in Model.Products)
                            {

                                @if (item.PricingProducts.Exists(pp => pp.ProductId == product.Id))
                                {
                                    <li><i class="bx bx-check"></i> @product.Name</li>

                                }
                                else
                                {
                                    <li class="na"><i class="bx bx-x"></i> <span>@product.Name</span></li>

                                }
                            }


                        </ul>
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>

                }

            </div>
        </div>
    </section><!-- End Pricing Section -->

</main><!-- End #main -->
