@model HomeVM
@{
    ViewData["Title"] = "Index";
}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                @foreach (HeroCarousel carousel in Model.HeroCarousels)
                {
                <div class="carousel-item active" style="background-image: url(assets/img/slide/@carousel.Image)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">@carousel.Title</h2>
                            <p class="animate__animated animate__fadeInUp">@carousel.Description</p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                        </div>
                    </div>
                </div>

                }

     

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">

            <div class="row">
               @foreach (Feature feature in Model.Features)
               {
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="bi bi-bar-chart"></i>
                        <h3><a href="">@feature.Name</a></h3>
                        <p>@feature.Description</p>
                    </div>
                </div>

               }
       
            </div>

        </div>
    </section><!-- End Featured Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                @foreach (About item in Model.Abouts)
                {
                <div class="col-lg-6">
                    <img src="~/assets/img/@item.Image" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>@item.Title</h3>
                    <p class="fst-italic">
                        @item.Subtitle
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> @item.SubtitleList1</li>
                        <li><i class="bi bi-check-circle"></i> @item.SubtitleList2</li>
                        <li><i class="bi bi-check-circle"></i> @item.SubtitleList3</li>
                    </ul>
                    <p>
                        @item.Description
                    </p>
                </div>

                }
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="row">
               
                @foreach (Services services in Model.Services)
                {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="@services.Icon"></i></div>
                        <h4><a href="">@services.Name</a></h4>
                        <p>@services.Description</p>
                    </div>
                </div>

                }


            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="section-title">
                <h2>Clients</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                @foreach (Client client in Model.Clients)
                {
                    <div class="swiper-slide"><img src="~/assets/img/clients/@client.Image" class="img-fluid" alt=""></div>
                }
                </div>

                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Clients Section -->

</main><!-- End #main -->