@model ServicesVM
@{
    ViewData["Title"] = "Index";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Services</li>
            </ol>
            <h2>Services</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="row">

                @foreach (Services services in Model.Services)
                {
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box">
                            <div class="icon"><i class="@services.Icon"></i></div>
                            <h4><a href="">@services.Name</a></h4>
                            <p>@services.Description</p>
                        </div>
                    </div>

                }


            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Our Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container">

            <div class="section-title">
                <h2>Our Skills</h2>
                <p>
                    @foreach (var item in Model.OurSkills)
                    {
                        @item.Description
                    }
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <img src="~/assets/img/@foreach (var item in Model.OurSkills)
                    {
                        @item.Image
                    }
                    " class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    @foreach (var item in Model.OurSkills)
                    {
                        <h3>
                            @item.Title
                        </h3>
                        <p class="fst-italic">
                            @item.SubTitle
                        </p>
                    }
                    <div class="skills-content">
                        @foreach (Skill item in Model.Skills)
                        {

                            <div class="progress">
                                <span class="skill">@item.Name <i class="val">@item.Percentage%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@item.Percentage" aria-valuemin="0" aria-valuemax="@item.Percentage"></div>
                                </div>
                            </div>
                        }


                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Our Skills Section -->

</main><!-- End #main -->
