@model AboutVM
@{
    ViewData["Title"] = "Index";
}

<main id="main">


    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ol>
            <h2>About Us</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                @foreach (About item in Model.Abouts)
                {
                    <div class="col-lg-6">
                        <img src="~/assets/img/@item.Image" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content">
                        <h3>@item.Title</h3>
                        <p class="fst-italic">
                            @item.Subtitle
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> @item.SubtitleList1</li>
                            <li><i class="bi bi-check-circle"></i> @item.SubtitleList2</li>
                            <li><i class="bi bi-check-circle"></i> @item.SubtitleList3</li>
                        </ul>
                        <p>
                            @item.Description
                        </p>
                    </div>

                }
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row no-gutters">

                @foreach (Count item in Model.Counts)
                {

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="@item.Number" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>@item.Name</strong> @item.Description</p>
                            <a href="#">Find out more &raquo;</a>
                        </div>
                    </div>
                }



            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Clients Section ======= -->

    <section id="clients" class="clients">
        <div class="container">

            <div class="section-title">
                <h2>Clients</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    @foreach (Client client in Model.Clients)
                    {
                        <div class="swiper-slide"><img src="~/assets/img/clients/@client.Image" class="img-fluid" alt=""></div>
                    }
                </div>

                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Clients Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="section-title">
                <h2>Testimonials</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">
                @foreach (Testimonial testimonial in Model.Testimonials)
                {

                <div class="col-lg-6">
                    <div class="testimonial-item mt-4">
                        <img src="~/assets/img/testimonials/@testimonial.Image" class="testimonial-img" alt="">
                        <h3>@testimonial.Name @testimonial.Surname</h3>
                        <h4>@testimonial.Profession</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @testimonial.Comment
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                }



            </div>

        </div>
    </section><!-- End Testimonials Section -->
</main>